* {
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 700px;
}

.topAlert {
    position: fixed;
    top: 15vh;
    left: 50%;
    font-size: 3vw;
    font-family: '华文新魏';
    transform: translate(-50%);
}

.submitTips {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 120;
    width: 450px;
    height: 270px;
    border-radius: 12px;
    background-color: #fff;
    transform: translate(-50%, -50%);
}

.submitTips .photo {
    position: absolute;
    top: 50px;
    left: 50%;
    width: 80px;
    height: 80px;
    background-image: url(../img/submitTrue.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translate(-50%, 0);
}

.submitTips .tipsText {
    position: absolute;
    top: 150px;
    left: 0px;
    width: 100%;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #555;
}

.submitTips .yes {
    position: absolute;
    top: 215px;
    left: 50%;
    width: 86px;
    height: 36px;
    border-radius: 5px;
    font-size: 16px;
    line-height: 36px;
    text-align: center;
    color: #fff;
    background-color: #3085d6;
    transform: translate(-50%, 0);
    cursor: pointer;
    transition: background-color .5s;
}

.submitTips .yes:hover {
    background-color: #0957a0;
}

.transparentPlate {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 119;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.logo {
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 3;
    width: 170px;
    height: 170px;
    border-radius: 85px;
    background-image: url(../img/logo1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translate(-50%, 0);
}

.main {
    position: absolute;
    top: 60%;
    left: 50%;
    z-index: 100;
    width: 360px;
    height: 80px;
    padding: 8px;
    border-radius: 40px;
    box-sizing: border-box;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: transform .3s;
}

/* 
.main form {
    position: relative;
    width: 100%;
    height: 100%;
} */

.main input {
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.main .selectBox {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 101;
    width: 230px;
    height: 100%;
    border-radius: 40px;
    box-sizing: border-box;
    font-size: 25px;
    font-weight: 700;
    line-height: 80px;
    text-indent: 3em;
    background-color: #fff;
    pointer-events: none;
    transition: width .3s, padding-right .3s;
}

.main .select {
    width: 230px;
    font-size: 18px;
    font-weight: 400;
    line-height: 80px;
    text-indent: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    pointer-events: none;
}

.main .selectBox span {
    position: absolute;
    left: -36px;
    height: 100%;
    line-height: 76px;
    font-size: 36px;
    font-weight: 700;
}

.main .submit {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 108px;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    text-align: center;
    background-color: #f1f1f1;
    transform: translate(0, -50%);
    transition: all .5s;
}

.main .submit:hover {
    background-color: rgb(73 203 142);
}

.main .submit::after {
    position: absolute;
    top: 50%;
    left: 0;
    width: 116px;
    height: 80px;
    opacity: 0;
    transform: translate(0, -50%);
    content: '';
}

.bgi {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.bgi div {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    transition: opacity 1.5s;
}